<section>
  <div class="wrapper">
    <div class="content">
      <!-- Authorization -->
      <form [formGroup]="form">
        <div class="errorMes" *ngIf="errorMes">
          <p>{{ errorMes }}</p>
        </div>
        <!-- Email -->
        <label>
          <input
            [type]="InputTypes.EMAIL"
            formControlName="email"
            placeholder="Enter email"
            [class.valid]="isControlValid('email')"
            [class.invalid]="isControlInvalid('email')"
          />

          <div class="error">
            <ng-container *ngIf="isControlInvalid('email')">
              <ng-container *ngIf="form.controls['email']?.hasError('required')"
                >This field is required</ng-container
              >
              <ng-container *ngIf="form.controls['email']?.hasError('email')">
                Enter the correct characters
              </ng-container>
            </ng-container>
          </div>
        </label>
        <!-- Password -->
        <label>
          <input
            [type]="InputTypes.PASSWORD"
            formControlName="password"
            [class.valid]="isControlValid('password')"
            [class.invalid]="isControlInvalid('password')"
            placeholder="Enter password"
          />
          <div class="error">
            <ng-container *ngIf="isControlInvalid('password')">
              <ng-container
                *ngIf="form.controls['password']?.hasError('required')"
                >This field is required</ng-container
              >

              <ng-container
                *ngIf="form.controls['password']?.hasError('minlength')"
                >Minimal length -
                {{
          form.controls['password'].errors?.['minlength']?.requiredLength}}
                symbol</ng-container
              >
            </ng-container>
          </div>
        </label>
        <!-- Button submit -->
        <button
          class="button button-black"
          type="submit"
          (click)="loading ? null : submit()"
        >
          <span>Submit</span>
        </button>
      </form>
    </div>
  </div>
</section>
